@import '../../../styles/variables.scss';

.filtersContainer {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    margin: 5px;
    padding: 5px;
    border: solid 2px black;
    border-radius: 20px;

    
    .title {
        font-family: $font-family2;
        color: black;
        margin: 5px auto;
        padding: 3px;
        // border-bottom: solid 1px black;
        // border-radius: 5px;
        // background-color: black;
    }

    .clear {
        margin: .2rem auto;
        padding: .2rem;
        box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, .2);
        background-color: darkgray;
        border: none;
        color: #FFF;
        cursor: pointer;
    }
}

.filterStores {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .storesFilter {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

    }


}