.swiper {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    cursor: grab;
}

.swiper:hover .swiper-button-prev {
    opacity: 1;
}
.swiper:hover .swiper-button-next {
    opacity: 1;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-button-prev, .swiper-button-next {
    color: black;
    opacity: 0;
    padding: 5px;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        width: 20%;
    }
    transition: all .3s ease-in;
}

// .swiper-button-prev {
//     background-color: rgba(0, 0, 0, .5);
//     color: red;
// }

// .swiper-button-next {
//     color: blue;
// }