@import '../../styles/variables.scss';

.itemContent {
    width: 180px;
    display: flex;
    margin: 15px;
    padding: 10px;
    flex-direction: column;
    background-color: $bg-color;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);
    border-radius: 5%;
    // justify-content: space-between;
    // align-items: center;
}