@import '../../../../styles/variables.scss';

.buttonContainer {
    width: 90%;
    margin: 5px 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $bg-color;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .3);
    transition: all .3s ease-in;
    
    .title {
        color: #202020;
        font-family: $font-family2;
        font-weight: 400;
        transition: all .3s ease-in;
        text-align: center;
    }

    &:hover {
        background-color: black;
        .title {
            color: $bg-color;
        }
    }

    cursor: pointer;
}